@charset "utf-8";

$color-text: #A6ADB4;
$color-heading: #202124;
$color-gray: #F6F8F9;
$color-accent: #FA6980;
$color-footer:#CBD0D3;

@mixin inner($w:800px){
    max-width: $w;
    width: 90%;
    margin: 0 auto;
}

@mixin flex($j:space-between){
        display:flex;
        flex-wrap: wrap;
        justify-content:$j;
        align-items:center;
}
body{
    color: $color-text;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: (24 / 14);
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li{
    list-style: none;
}

// BLOCK-------------------

//header------
.header{
    &__inner{
        @include inner();
    }
    &__flex{
        @include flex();
    }
    .g-nav{
        &__list{
            @include flex(right);
        }
        &__item{
            padding-left:20px;
        }
        &__link{
            text-decoration:none;
            color:$color-text;

        }

    }
}



//main-------
.title-main{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EBEDED;
    color: $color-heading;
    font-size: 24px;
    font-weight: bold;
}
// morenews
.morenews{
    margin-top:60px ;

    &__inner{
        @include inner();
    }
    &__list{
        @include flex();
    }
    &__item{
        margin-bottom:60px;
        width:47.5%;
    }
    &__category{
        color:$color-accent;
        font-size: 12px;
        font-weight: bold;
    }
    &__title{
        color:$color-heading;font-size:18px;
    }
    &__time{

        padding-top: 20px;
        font-style:italic;
        font-size: 12px;
    }
}


//trending
.trending{
    background-color: $color-gray;
    padding:60px 0 ;

    &__inner{
        @include inner();
    }
    &__list{
        @include flex();
    }
    &__item{
        width: 47.5%;
    }
}
.card{
    background: #fff;
    &__body{
     @include inner(380px);
    }
    &__btn{
        display:inline-block;
        text-decoration:none;
        margin-bottom: 35px;
        padding:13px 43px;
        background: $color-accent;
        color:#fff;
    }
    &__title{
        color:$color-heading;
        font-size: 18px;
        margin-top: 35px;
        margin-bottom:10px;
    }
    &__text{
        margin-bottom: 30px;
    }
}
//footer------

.footer{
    &__body{
        background-color:$color-text;
        padding:100px 0 42px;
    }
    &__inner{
        @include inner();

    }
    &__small{
        font-size: 12px;
        color:$color-footer;

}

}